header {
    z-index: 1;
    nav {
        ul {
            li {
                margin-left: 60px;
                display: inline-block;
                vertical-align: top;
                margin-top: 40px;
                a{
                    &:hover{
                        color: #fff !important;
                        background-color: $color-principal !important;
                        text-align: center;
                        border-color: $color-principal;
                        padding: 5px 20px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}

